.mat-card-content{

	margin-bottom: 0px;
	display: block;
}

.mat-card-header {
	color:#fff;
	margin: 0px;
	padding: 0px;
	background-color:#15558d ;

}
.mat-list{
	padding: 0px;
}
.mat-card-title{
	margin-top: 7px;
	padding: 0px;
	font-size: 15px;
}

.mat-card{
	padding: 0px;
}

.mat-card-actions  {
	margin-bottom: 15px;
	padding: 1rem 1rem;
	padding-top: 0px;
}
.mat-card-actions button {
	margin-bottom: 15px;
}

.mat-card-content{
	padding: 0px;
}
.mat-card-content h3 {
	color:#fff;

}

.modal{
	z-index: 9999;
}