			<mat-card class="card " >
				<mat-card-header>
					<mat-card-title>
						Prescription Médicales
					</mat-card-title>
				</mat-card-header>

				<mat-card-content class="card-body">
					<mat-list>
						<mat-list-item >
							<mat-icon matListIcon>description</mat-icon>
							<span matLine> Fichier </span>
							<button mdbBtn class="btn btn-info btn-sm" mdbWavesEffect>
								Details
							</button>
							<button mdbBtn class="btn btn-danger btn-sm" mdbWavesEffect>
								Supprimer
							</button>
						</mat-list-item>

						<mat-list-item >
							<mat-icon matListIcon>description</mat-icon>
							<span matLine> Fichier </span>
							<button mdbBtn class="btn btn-info btn-sm" mdbWavesEffect>
								Details
							</button>
							<button mdbBtn class="btn btn-danger btn-sm" mdbWavesEffect>
								Supprimer
							</button>
						</mat-list-item>
					</mat-list>

				</mat-card-content>
				<hr>
				<mat-card-actions class=" ">					
					<button mat-raised-button mdbBtn type="button" color="default" (click)="addAntecedent()" rounded="true" mdbWavesEffect><mat-icon>add</mat-icon>Nouveau Fichier</button>
				</mat-card-actions>
			</mat-card>
