.mat-card-header {
    color:#fff;
    margin: 0px;
    padding: 0px;
    background-color:#15558d ;

}
.mat-card-title{
    margin-top: 7px;
    padding: 0px;
   
}
.mat-card{
    padding: 0px;
}

.mat-card-content{
    margin-bottom: 0px;
    display: block;
}