<div class="breadcrumb-bar">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="col-md-12 col-12">
				<nav aria-label="breadcrumb" class="page-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Patient</a></li>
						
					</ol>
				</nav>
				<h2 class="breadcrumb-title">Rendez Vous: Suppression </h2>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row rdv " >
		<div class="text-center col-md-8 " >
			<h3> Confirmer l'annulation de votre rendez vous </h3>
			<mat-card class="card card-rdv  " >
				<mat-card-header class="">
					<mat-card-title>
						<i class="far fa-calendar"></i> {{rendezVous.start }}   &nbsp;&nbsp;
						<!--<i class="far fa-clock"></i> -->
					</mat-card-title>
				</mat-card-header>

				<mat-card-content class="card-body">
					<div class="row">
						<div class="avatar avatar-lg">
							<img class="avatar-img rounded-circle" alt="User Image" src="assets/img/patients/patient8.jpg">
						</div>
						&nbsp;&nbsp;
						<div>
							<h5>Dr {{rendezVous.prenomD}} {{rendezVous.nomD}} </h5>
							Medecin {{ rendezVous.groupe }}
						</div>
					</div>				
				</mat-card-content>
				<hr>
				<mat-card-actions class=" text-center">
					<a matRipple href="" class="float-left" style="color:red;"> 
						<i class="fas fa-times"></i>
						<span> ANNULER le RDV  </span> 
					</a>
					<a matRipple href="" class="float-right" style=""> 
						<<i class="fas fa-redo-alt"></i>
						<span> RETOUR </span> 
					</a>


				</mat-card-actions>
			</mat-card>
		</div>
	</div>		
</div>