
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
	<div class="container-fluid">

		<div class="row">
			<div #sideBar class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

				<!-- Profile Sidebar -->
				<div  class="profile-sidebar">
					<div class="widget-profile pro-widget-content">
						<div class="profile-info-widget">
							<a href="#" class="booking-doc-img">
								<img src="assets/img/doctors/doctor-12.jpg" alt="User Image">
							</a>
							<div class="profile-det-info">
								<h3>Dr. Aboubacary Kane</h3>

								<div class="social-icon">
									<ul>
										<li>
											<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
										</li>
										<li>
											<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
										</li>
										<li>
											<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
										</li>
										<li>
											<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
										</li>
										<li>
											<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="dashboard-widget">
						<nav class="dashboard-menu">
							<ul>
								<li class="active">
									<a href="doctor-dashboard.html">
										<i class="fas fa-columns"></i>
										<span>Dashboard</span>
									</a>
								</li>
								<li>
									<a  [routerLink]="['/pro/calendar']" >
										<i class="fas fa-hourglass-start"></i>
										<span>Agenda</span>
									</a>
								</li>
								<li>
									<a [routerLink]="['/pro/list-rendez-vous']" >
										<i class="fas fa-calendar-check"></i>
										<span>Mes Rendez vous</span>
									</a>
								</li>
								
								<li>
									<a href="chat-doctor.html">
										<i class="fas fa-share-square"></i>
										<span>Partagé avec moi</span>
										
									</a>
								</li>
								<li>
									<a href="chat-doctor.html">
										<i class="fas fa-comments"></i>
										<span>Messages</span>
										<small class="unread-msg">23</small>
									</a>
								</li>
								<li>
									<a [routerLink]="['/pro/gerer-creneau']">
										<i class="fas fa-user-cog"></i>
										<span>Parametres</span>
									</a>
								</li>
								
								<li>
									<a href="doctor-change-password.html">
										<i class="fas fa-lock"></i>
										<span>Mon Compte</span>
									</a>
								</li>
								
							</ul>
						</nav>
					</div>
				</div>
				<!-- /Profile Sidebar -->
				
			</div>
			<div class="col-md-7 col-lg-8 col-xl-9">
					
						<router-outlet></router-outlet>
					
			</div>
		</div>
	</div>			
</div>	