<!-- Home Banner -->
<div class="row">
	<div class="col-2">
	</div>
	<div class="col-10 text-right">
		<app-search> </app-search>
	</div>
</div>
<div class="row section-search">
	<div class="col-md-5">
		<div class="fl-content text-left">
			<h1 class="galo fl-cta-title">TABLEAUX DE BORD <span style="color: #B51233">E-SANTE</span></h1>
			<div class="fl-cta-text-content">
				<p>Un moyen abordable et efficace d'organiser et gérer vos dossiers médicaux electroniques, votre cabinet médical ou service hospitalier.</p>
			</div>
			<div class="fl-cta-button">
				<div class="fl-button-wrap fl-button-width-auto">
					<a href="#" target="_self" class="fl-button" role="button">
						<span class="fl-button-text">Pour plus de détails</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-7">
		<section class="section">
			<div class="container-fluid">
				<div class="banner-wrapper">
					<!-- <div class="banner-header text-left">
						<h2 style="font-weight: bold;"></h2>
						<p class="display-4 mb-5 pb-4">Découvrez les meilleurs médecins, cliniques et hôpitaux et donner accès à vos dossiers médicaux en toute sécurité pour de meilleurs soins.</p>
					</div> -->
					
					
					<!-- Search 
					<div class="search-box">
						<form action="https://dreamguys.co.in/demo/doccure/search.html">
							<div class="form-group search-location">
								<input type="text" class="form-control" placeholder="Search Location">
								<span class="form-text">Based on your Location</span>
							</div>
							<div class="form-group search-info">
								<input type="text" class="form-control" placeholder="Search Doctors, Clinics, Hospitals, Diseases Etc">
								<span class="form-text">Ex : Dental or Sugar Check up etc</span>
							</div>
							<button type="submit" class="btn btn-primary search-btn"><i class="fas fa-search"></i> <span>Search</span></button>
						</form>
					</div>-->
					
					<!-- /Search -->
		
				</div>
			</div>
		</section>
	</div>
</div>

<!-- /Home Banner -->
<div class="py-5 bg-white my-2" id="features-1" #myServices>
    <div class="container text-left text-center">
      <div class="row">
        <div class="col"><h2 class="display-4 mb-5 pb-4">Nos Services</h2></div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-2 service">
          <img class="my-4" src="assets/img/interview.png" height="48px" />
          <h3 class="h5 mb-2">Télé-Consultation</h3>
          <p class="text-secondary mb-3 lead">
            Faites vous consulter en ligne par les meilleurs docteurs du pays
          </p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-2 service">
          <img class="my-4" src="assets/img/humanitarian.png" height="48px" />
          <h3 class="h5 mb-2">Prise de rendez vous</h3>
          <p class="text-secondary mb-3 lead">
            Prenez rendez-vous avec votre appareil mobile Android, Ios et web
          </p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-2 service">
          <img class="my-4" src="assets/img/first-aid-kit.png" height="48px" />
          <h3 class="h5 mb-2">Cas d'urgence</h3>
          <p class="text-secondary mb-3 lead">
            En cas d'urgence, nous vous indiquons le poste de santé ouvert le plus proche de vous
          </p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-4 mt-2 service">
          <img class="my-4" src="assets/img/medicine.png" height="48px" />
          <h3 class="h5 mb-2">Médicaments</h3>
          <p class="text-secondary mb-3 lead">
            Trouvez et commandez vos médicaments facilement avec notre service
          </p>
        </div>
      </div>
    </div>
  </div>
<!-- Clinic and Specialities -->
<section class="section section-specialities">
	<div class="container-fluid">
		<div class="section-header text-center">
			<h2>Nos Spécialités</h2>
			<p class="sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-9">
				<!-- Slider -->
				<div class="specialities-slider slider">

					<!-- Slider Item -->
					<div class="speicality-item text-center">
						<div class="speicality-img">
							<img src="assets/img/specialities/specialities-01.png" class="img-fluid" alt="Speciality">
							<span><i class="fa fa-circle" aria-hidden="true"></i></span>
						</div>
						<p>Urology</p>
					</div>	
					<!-- /Slider Item -->

					<!-- Slider Item -->
					<div class="speicality-item text-align:center">
						<div class="speicality-img">
							<img src="assets/img/specialities/specialities-02.png" class="img-fluid" alt="Speciality">
							<span><i class="fa fa-circle" aria-hidden="true"></i></span>
						</div>
						<p>Neurology:Branche de la médecine qui étudie le système nerveux et ses maladies.</p>	
					</div>							
					<!-- /Slider Item -->

					<!-- Slider Item -->
					<div class="speicality-item text-center">
						<div class="speicality-img">
							<img src="assets/img/specialities/specialities-03.png" class="img-fluid" alt="Speciality">
							<span><i class="fa fa-circle" aria-hidden="true"></i></span>
						</div>	
						<p>Orthopedic</p>	
					</div>							
					<!-- /Slider Item -->

					<!-- Slider Item -->
					<div class="speicality-item text-center">
						<div class="speicality-img">
							<img src="assets/img/specialities/specialities-04.png" class="img-fluid" alt="Speciality">
							<span><i class="fa fa-circle" aria-hidden="true"></i></span>
						</div>	
						<p>Cardiologist</p>	
					</div>							
					<!-- /Slider Item -->

					<!-- Slider Item -->
					<div class="speicality-item text-align-center">
						<div class="speicality-img">
							<img src="assets/img/specialities/specialities-05.png" class="img-fluid" alt="Speciality">
							<span><i class="fa fa-circle" aria-hidden="true"></i></span>
						</div>	
						<p>Dentist</p>
					</div>							
					<!-- /Slider Item -->

				</div>
				<!-- /Slider -->

			</div>
		</div>
	</div>   
</section>	 
<!-- Clinic and Specialities -->
<!-- Popular Section -->
<app-card-doctors> </app-card-doctors>
<!-- /Popular Section -->

<!-- Availabe Features -->
<section class="section section-features">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5 features-img">
				<img src="assets/img/features/feature.png" class="img-fluid" alt="Feature">
			</div>
			<div class="col-md-7">
				<div class="section-header">	
					<h2 class="mt-2">Availabe Features in Our Clinic</h2>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
				</div>	
				<div class="features-slider slider">
					<!-- Slider Item -->
					<div class="feature-item text-center">
						<img src="assets/img/features/feature-01.jpg" class="img-fluid" alt="Feature">
						<p>Patient Ward</p>
					</div>
					<!-- /Slider Item -->
					
					<!-- Slider Item -->
					<div class="feature-item text-center">
						<img src="assets/img/features/feature-02.jpg" class="img-fluid" alt="Feature">
						<p>Test Room</p>
					</div>
					<!-- /Slider Item -->
					
					<!-- Slider Item -->
					<div class="feature-item text-center">
						<img src="assets/img/features/feature-03.jpg" class="img-fluid" alt="Feature">
						<p>ICU</p>
					</div>
					<!-- /Slider Item -->
					
					<!-- Slider Item -->
					<div class="feature-item text-center">
						<img src="assets/img/features/feature-04.jpg" class="img-fluid" alt="Feature">
						<p>Laboratory</p>
					</div>
					<!-- /Slider Item -->
					
					<!-- Slider Item -->
					<div class="feature-item text-center">
						<img src="assets/img/features/feature-05.jpg" class="img-fluid" alt="Feature">
						<p>Operation</p>
					</div>
					<!-- /Slider Item -->
					
					<!-- Slider Item -->
					<div class="feature-item text-center">
						<img src="assets/img/features/feature-06.jpg" class="img-fluid" alt="Feature">
						<p>Medical</p>
					</div>
					<!-- /Slider Item -->
				</div>
			</div>
		</div>
	</div>
</section>		

<!-- Availabe Features -->
