.mat-card-content{

	margin-bottom: 0px;
	display: block;
}

.mat-card-header {
	color:#fff;
	margin: 0px;
	padding: 0px;
	background-color:#15558d ;

}
.mat-list{
	padding: 0px;
}
.mat-card-title{
	margin-top: 7px;
	padding: 0px;
	font-size: 15px;
}

.mat-card{
	padding: 0px;
}

.mat-card-actions  {
	// margin-bottom: 1px;
	// padding: ;
	margin: 10px 10px;
	padding-top: 0px;	
	text-align:center;
	
}
.mat-card-actions button {
	margin-bottom: 15px;
	
	
}
 .add {
	//margin-bottom: 0px;
	text-align: center;
	
}


.mat-card-content{
	padding: 0px;
}
.mat-card-content h3 {
	color:#fff;
	

}

.modal{
	z-index: 9000;
}
.haut p{
	margin: 20px auto;
	font-size: medium;
} 