
.section-medecin{
	margin-top: 60px;
}

.mat-card:hover{
	border:1px #6EBDF0 solid;
}
.mat-card-content{
	margin-top:0;
	padding-top: 0;
}

#video{
	margin-left: 70px;
}

#adress{
	margin-top: 20px;
	margin-left: 70px;
}
.perso-doc{
	margin-top: 10px;
}

.perso-doc a{
	font-weight: bold;
	color:#6EBDF0;
	font-size: 16px;
}
.card-doctor{
	margin-top:15px; 
}
.breadcrumb-bar {
	
    background-color: #15558d;
    padding: 10px 0;
}

.page-breadcrumb .breadcrumb-item + .breadcrumb-item:before {
    color: #fff;
    font-size: 10px;
}

// Search Styles

.search-box form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}   
.search-box .form-control {
    border: 1px solid #ccc;
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    border-radius: 5px;
    padding-left: 35px;
}
.search-box .search-location {
    -ms-flex: 0 0 340px;
    flex: 0 0 340px;
    margin-right: 12px;
    position: relative;
    width: 340px;
}
.search-location .form-control {
    background: #fff url(../../../assets/img/location.png) no-repeat 10px center;
}
.search-box .search-info {
    -ms-flex: 0 0 690px;
    flex: 0 0 690px;
    margin-right: 12px;
    position: relative;
    width: 690px;
}
.search-info .form-control {
    background: #fff url(../../../assets/img/search.png) no-repeat 10px center;
}
.search-box .search-btn {
  	width: 200px;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    height: 46px;
}
.search-box .search-btn span {
	
    font-weight: bold;
}
.search-box .form-text {
    color: #757575;
    font-size: 13px;
}
.mat-option :hover{
    background-color: #98CEE3;
    height: 30px;

}
/*.mat-option a {
    font-weight: bold;
    font-size: 17px;

}*/
#medecin{
    font-weight: bold;
    font-size: 17px;
}
.mat-option a:hover{
    color: black;
}
.searchList {
    padding-right: 20px;
    position: absolute;
    z-index: 1;
    border: solid 1px #F3F6F5;    
    background: #FFFFFF;
    ul {
        li:hover {
            background: #98CEE3;
        }
    }
}

.mat-card-actions{
	margin-left: 70px;
	width: 250px;

}
